nav .bloglink {
  font-weight: bold;
  text-decoration: underline ;
  
}
nav{
  padding: 2em;
}
nav a{
  color: #f2f2f2;
  text-decoration:none;
}

nav a:click{
  font-weight: bold;
  text-decoration: underline ;
}
nav li{
  display: flex;
  flex-direction: column;
  display: inline;
}


body{
  font-family: 'Raleway', sans-serif; 
  margin: 1em;
  padding: 1em;
  font-size: 1em; 
}

h1{
  font-size: 2em;
  text-align: center;
  line-height: 2;
}

h3{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

p {
  padding: 0 30px;
}

#post1{
  border: 10px #FFDE59 solid;
  margin: 1em;
  padding: 1em;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#post1 > img{
  border: 10px #FFDE59 solid;
  margin: 10px;
  width: 300px;
}
a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}

footer{
  background-color: #0D294B;
  color: white;
  padding: 30px;
  text-align: center;
}
footer a{
  color: white;
}


@-webkit-keyframes logo_wiggle{
  from {width: 25px;}
  to {width: 420px;}
}

@keyframes logo_wiggle{
  from {width: 25px;}
  to {width: 420px;}
} 

#logo{
   animation: logo_wiggle 15s;
}
#post1{
  border: 10px #FFDE59 solid;
  border-left: 10px #FFDE59 solid;
  margin: 10px;
 
}


#post1 > header{
  background: #FFDE59;
  border: 2px solid #FFDE59;
  padding: 20px 0;
  border-radius: 7px 7px 0 0;
}


#post1{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#post1 > img{
  border: .5em #FFDE59 solid;
  margin: .5em;
  width: 15em;
}

header{
  background-color: #0D294B;
  border-bottom: 3px solid #FFDE59;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav .bloglink{
  font-weight: bold;
}
nav a{
  color: white;
  text-decoration: none;
}

nav a:click, a:focus{
  color: #FFDE59;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}


  header{
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;

  }

  nav{
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  nav a{
    padding: 10px;
  }
}



/*reduced-motion*/

@media (prefers-reduced-motion:reduce) {
  #logo{
    animation: none;
 }
}